extends email-layout

block content
  h2 Password Reset
  p You have requested a password reset. Click the following button to continue on with resetting your password. Note this link is only valid for the next hour.
  +button(resetURL, 'Reset Password')
  p If you can't click the above button visit #{resetURL}
  br
  p If you didn't request this email, please ignore it.
